body {
    position: relative;
width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */

background: #F3F5FC;
    
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.logo{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 120px;
height: 48px;
left: 40px;
top: 40px;

}
.text1{
    position: absolute;
width: 577px;
height: 48px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */


/* Dark blue/dark-blue-300 */

color: #0A3871;
}
.frame1{
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 229px;
height: 18px;
left: 240px;
top: 851px;

}
.frame3{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;

}
.button1{
/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
gap: 8px;

width: 328px;
height: 67px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.p1{
    width: 280px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
.button2{
    /* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;

gap: 8px;

width: 328px;
height: 67px;

/* Light gray */

background: #D8DFE8;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.p2{
    /* Button */


width: 280px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
.rectangulo{
    /* Rectangle 1 */


position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}
.muneco{
    position: absolute;
width: 336px;
height: 304px;
left: 1032px;
top: 283px;

}
.frame5{
   /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 336px !important;
height: 122px;
left: 1032px;
top: 619px;

}
.p3{
    /* Ningún mensaje fue encontrado */


width: 336px;
height: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.p4{
    /* Ingresa el texto que desees encriptar o desencriptar. */


width: 336px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;



/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.button1:hover {
    background-color:#03d8c6;
    }
.button2:hover {
    background-color:#03d8c6;
    }
.frame5:hover {
    background-color:#03d8c6;
    }
#button {
    display: none;
}

#mat{
    display: none;
    position: absolute;
width: 585px;
height: 304px;
left: 240px;
top: 283px;

}
#meme{
display: none;
position: absolute;
width: 340px;
height: 304px;
left: 0px;
bottom: 120px;
}
#flecha{
    display: none;
    position: absolute;
    width: 150px;
    height: 100px;
    left: 25%;
    top: 70%;
    margin: 0;
    padding: 0%;
    }
#mune{
    display: block;
}
#title{
    display: none;
}
.button3{
    /* Button */
 

box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
gap: 8px;

position: absolute;
width: 336px;
height: 67px;
left: 35px;
top: 850px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;
}
.p5{
 
width: 288px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
.p6{
    position: relative;
    left: 20%;
    top: 58%;
}
.p7{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 19px;
text-align: center;
    position: relative;
    top: 5%;
    
}
#title2{
    display: none;
}